<template>
  <div id="app">
    <navbar></navbar>

    <router-view/>
  </div>
</template>
<script>
import Navbar from "./Navbar.vue";

export default {
  name: "app",
  data() {
    return {};
  },
  components: {
    Navbar
  }
};
</script>
<style lang="scss">
//@import "../node_modules/bulma/bulma.sass";

</style>
