<template>
  <section class="section">
    <h1 class="title">Prices</h1>
    <div class="container" style="margin-bottom: 1rem;">
      <span>Available actions:</span>
      <button class="button" v-on:click="downloadPrices">Download</button>
    </div>

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="price in prices">
          <td>{{ price[0] }}</td>
          <td class="has-text-right">{{ price[1] }}</td>
          <td class="has-text-centered">{{ price[2] }}</td>
          <td class="has-text-centered">
            <row-actions />
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <my-vuetable></my-vuetable> -->
  </section>
</template>
<script>
// import MyVuetable from './MyVuetable'
import RowActions from './RowActions'

// some dummy price rows
var prices = [["AGLHA", 26.73, "2018-12-26"], ["WBCPD", 104.8, "2018-12-15"]];

export default {
  name: "home",
  data() {
    return {
      prices: prices
    };
  },
  methods: {
    downloadPrices: function() {
      // todo: Download all prices
      alert('downloading!');
    }
  },
  components: {
    // MyVuetable
    RowActions
  }
};
</script>
