<template>
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Price Db
      </a>
      
      <a
        role="button"
        class="navbar-burger burger"
        v-bind:class="{ 'is-active': hamburgerActive }"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        v-on:click="toggleMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" v-bind:class="{ 'is-active': hamburgerActive }">
      <!-- navbar start, navbar end -->
      <div class="navbar-start">
        <router-link to="/" class="navbar-item">Home</router-link>
        <router-link to="/settings" class="navbar-item">Settings</router-link>
      </div>
    </div>
  </nav>
</template>
<script>
import Vue from 'vue'
import Buefy from 'buefy'
import 'buefy/dist/buefy.css'
Vue.use(Buefy)

export default {
  name: "navbar",
  data() {
    return {
        hamburgerActive: false
    };
  },
  methods: {
    toggleMenu: function() {
      // event
      
      //alert("menu toggling");
      this.hamburgerActive = !this.hamburgerActive;
    }
  }
};
</script>
<style lang="scss">
//@import "../node_modules/bulma/bulma.sass";
//@import "bulma"

</style>