<template>
  <div>
    <button class="button">
      <span class="icon has-text-danger">
        <!-- <i class="fas fa-times-circle"></i> -->
        <!-- <ion-icon name="close-circle"></ion-icon> -->
        <span class="iconify" data-icon="fa-times-circle"></span>
      </span>
    </button>
    
    <button class="button">
      <span class="icon">
        <!-- <i class="fas fa-arrow-alt-circle-down"></i> -->
        <!-- <ion-icon name="download"></ion-icon> -->
        <!-- <span class="iconify" data-icon="mdi-account"></span> -->
        <span class="iconify" data-icon="mdi-download"></span>
      </span>
    </button>
  </div>
</template>
