<template>
  <section class="section">
    <h1 class="title">Settings</h1>
    <h2 class="subtitle">Set your settings here</h2>
    <div class="container">
      <div class="field is-expanded has-addons">
        <!-- <div class="field-label is-normal">
          <label class="label">From</label>
        </div>-->
        <label class="label">API server URL</label>
        <div class="control">
          <p class="control">
            <a class="button is-static">https://</a>
          </p>
          <p class="control">
            <a class="button is-static">+44</a>
          </p>
          <p>
            <input class="input" type="text" placeholder="Name">
          </p>
          <p class="control">
            <a class="button is-static">@gmail.com</a>
          </p>
        </div>
      </div>

      <p>URL</p>
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static">https://</a>
        </div>
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="Find a repository">
        </div>
        <div class="control">
          <a class="button is-static">.ngrok.com</a>
        </div>
      </div>

      <div style="height: 2.5rem;"></div>

      <div class="field">
        <button class="button is-pulled-left is-light">Back</button>
        <button class="button is-pulled-right is-primary">Save</button>
      </div>
      <!-- <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-primary">Submit</a>
        </p>
        <p class="control">
          <a class="button is-light">Cancel</a>
        </p>
      </div>-->
    </div>
  </section>
</template>
